<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  
    <div id="bar">
      Courier Station Management System
    </div>
    <div>
      <div style="float:right; clear: both;">
        <div id="userInfo" ></div><br>
        <button id="logout">log out</button></div>
  <div id="undelivered">
    <h1>Logistics Management</h1>
    <div id="displayform"><br><br>    
    <h1>Ordered Parcel Information (not yet dispatched)</h1>
    <table border="1">
      <thead>
        <tr>
          <td><b>ID</b></td>
          <td><b>Tracking Number</b></td>
          <td><b>Sender</b></td>
          <td><b>Recipient</b></td>
          <td><b>LogisticsCompanyStaff</b></td>
          <td><b>CourierStationEmployee</b></td>
          <td><b>Status</b></td>
          <td><b>PickUpZone</b></td>
        </tr>
      </thead>
      <tbody id="table3">

      </tbody>
    </table>
  </div>
  <br><br><br>
</div>

<div id="delivering">
  <br><br><br>
  <div id="displayform2"><br><br>
  <h1>Delivering Parcels Information</h1>
  <table border="1">
    <thead>
      <tr>
        <td><b>ID</b></td>
        <td><b>Tracking Number</b></td>
        <td><b>Sender</b></td>
        <td><b>Recipient</b></td>
        <td><b>LogisticsCompanyStaff</b></td>
        <td><b>CourierStationEmployee</b></td>
        <td><b>Status</b></td>
        <td><b>PickUpZone</b></td>
      </tr>
    </thead>
    <tbody id="table4">

    </tbody>
  </table>
<br><br><br><br><br><br>
</div>
</div>
    <script src="/javascripts/logisticsjavasript.js">
    </script>
  </body>
</html>
